{% extends 'app/base_blog.html' %}
{% load static %}
{% block title %}
<title>Stand Blog Posts</title>
{% endblock %}

{% block loader %}
 <!-- Убирает мерцание при загрузке -->
{% endblock %}

{% block banner %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>{{ blog.name }}</h4>
                <h2>{{ blog.headline }}</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    {% endblock %}
    <!-- Banner Ends Here -->



{% block content %}
    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                  {% for post in blog.entryes.all %}
                <div class="col-lg-6">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{ post.image.url }}" alt="">
                    </div>
                    <div class="down-content">
{#                      <span>Lifestyle</span>#}
                      <a href="{% url 'app:post-detail' post.slug_headline %}"><h4>{{ post.headline }}</h4></a>
                      <ul class="post-info">
                        <li>
                          {% for author in entry.authors.all %}
                            <a href="#">{{ author.user }}</a>{% if not forloop.last %}<a>, </a>{% endif %}
                          {% endfor %}
                        </li>
                        <li><a href="#">{{ post.pub_date|date:"d M Y, H:i"  }}</a></li>
                        <li><a href="{% url 'app:post-detail' post.slug_headline %}#comments">{{ post.number_of_comments }} Комментариев</a></li>
                      </ul>
                      <p>{{ post.summary }}</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-lg-12">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              {% for tag in post.tags.all %}
                              <li><a href="#">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}</li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  {% endfor %}

                <div class="col-lg-12">
                  <ul class="page-numbers">
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="GET" action="#">
                      <input type="text" name="q" class="searchText" placeholder="Искать..." autocomplete="on">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Недавние посты</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for post in resent_posts %}
                          <li><a href="{% url 'app:post-detail' post.slug_headline %}">
                          <h5>{{ post.headline }}</h5>
                          <span>{{ post.pub_date|date:"d M Y, H:i"  }}</span>
                        </a></li>
                          {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Другие блоги</h2>
                    </div>
                    <div class="content">
                      <ul>
                          {% for blog in blogs %}
                              <li><a href="{% url 'app:blog' blog.slug_name %}">- {{ blog.name }}</a></li>
                          {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                  <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Теги блога</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for tag in blog_tags %}
                        <li><a href="#">{{ tag.name }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}