{% extends 'app/base_blog.html' %}
{% load static %}

{% block title %}
<title>Stand Blog - Post Details</title>
{% endblock %}

{% block loader %}
 <!-- Убирает мерцание при загрузке -->
{% endblock %}

{#{% block banner %}#}
{#    <!-- Page Content -->#}
{#    <!-- Banner Starts Here -->#}
{#    <div class="heading-page header-text">#}
{#      <section class="page-heading">#}
{#        <div class="container">#}
{#          <div class="row">#}
{#            <div class="col-lg-12">#}
{#              <div class="text-content">#}
{#                <h4>Post Details</h4>#}
{#                <h2>Single blog post</h2>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </section>#}
{#    </div>#}
{#{% endblock %}#}
    <!-- Banner Ends Here -->
{% block content %}
    <section class="blog-posts grid-system" style="margin-top: 0px">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-post-blog">
                    <div class="blog-thumb">
                      <img src="{{ entry.image.url }}" alt="">
                    </div>
                    <div class="down-content">
                      <span>{{ entry.blog.name }}</span>
                      <h4>{{ entry.headline }}</h4>
                      <ul class="post-info">
                        <li>
                          {% for author in entry.authors.all %}
                            <a href="#">{{ author.user }}</a>{% if not forloop.last %}<a>, </a>{% endif %}
                          {% endfor %}
                        </li>
                        <li><a href="#">{{ entry.pub_date|date:"d M Y, H:i"}}</a></li>
                        <li><a href="#comments">{{ entry.number_of_comments }} Комментариев</a></li>
                      </ul>
                      {{ entry.body_text|safe }}
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              {% for tag in entry.tags.all %}
                              <li><a href="#">{{tag.name}}</a>{% if not forloop.last %},{% endif %}</li>
                              {% endfor %}
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Вконтакте</a>, </li>
                              <li><a href="#">Телеграм</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item comments">
                    <div class="sidebar-heading">
                      <h2 id="comments">Комментарии</h2>
                    </div>
                  <!-- Блок комментариев -->
                    <div class="content">
                      <ul>
                        {% for comment in entry.comments.all %}
                            {% if not comment.parent %}
                                <li>
                                    <div class="author-thumb">
                                        <img src="{{ comment.user.user_profile.avatar.url }}" alt="Фото профиля">
                                    </div>
                                    <div class="right-content" id="comment-id-{{ comment.id }}">
                                        <h4>{{ comment.user }}<span>{{ comment.created_at|date:"d M Y, H:i" }}</span></h4>
                                        <p>{{ comment.text }}</p>
                                    <!-- Проверка, что пользователь автор и он числится среди авторов статьи или пользователь часть персонала сайта -->
                                    <!-- Тогда будет возможность ответить на комментарий -->
                                         {% if user.author_profile and user.author_profile in entry.authors.all or user.is_staff %}
                                        <p><a href="#" onclick="showReplyForm({{ comment.id }}); return false;">Ответить</a></p>
                                         {% endif %}
                                    </div>
                                </li>
                                <!-- Скрытая форма для ответа -->
                                <div class="reply-form" id="reply-form-{{ comment.id }}" style="display: none;">
                                    <form action="{% url 'app:post-detail' entry.slug_headline %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="parent" value="{{ comment.id }}">
                                        <div class="col-lg-12">
                                            <textarea name="text" rows="3" placeholder="Введите свой комментарий" required=""></textarea>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit" class="main-button">Опубликовать</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Отображение дочерних комментариев -->
                                {% for child in comment.children.all %}
                                    <li class="replied">
                                        <div class="author-thumb">
                                            <img src="{{ child.user.user_profile.avatar.url }}" alt="Фото профиля автора">
                                        </div>
                                        <div class="right-content">
                                            <h4>{{ child.user }}<span>{{ child.created_at|date:"d M Y, H:i" }}</span></h4>
                                            <p>{{ child.text }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% empty %}
                        <p>Будьте первым, кто оставит комментарий</p>
                        {% endfor %}
                      </ul>
                    </div>
                  <!-- Конец блока комментариев -->
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item submit-comment">
                    <div class="sidebar-heading">
                      <h2>Оставить комментарий</h2>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="content">
                          <form id="comment" action="{% url 'app:post-detail' entry.slug_headline %}" method="post">
                            {% csrf_token %}
                              <div class="row">
                                  <div class="col-lg-12">
                                    <fieldset>
                                      <textarea name="text" rows="6" id="message" placeholder="Введите свой комментарий" required=""></textarea>
                                    </fieldset>
                                  </div>
                                  <div class="col-lg-12">
                                    <fieldset>
                                      <button type="submit" id="form-submit" class="main-button">Опубликовать</button>
                                    </fieldset>
                                  </div>
                            </div>
                          </form>
                        </div>
                    {% else %}
                         <div class="content">
                        <div class="col-lg-12">
                                Чтобы просматривать комментарии <a href="{% url 'app:login' 'signin'%}?next={% url 'app:post-detail' entry.slug_headline %}">авторизируйтесь!</a>
                        </div>
                         </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                      <div class="post">
                          <form id="search_form" name="gs" method="GET" action="#">
                      <input type="text" name="q" class="searchText" placeholder="Найти..." autocomplete="on">
                    </form>
                      </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Другие посты этого блога</h2>
                    </div>
                    <div class="content">
                      <ul>
                            {% for entry in blog_entryes %}
                          <li><a href="{% url 'app:post-detail' entry.slug_headline %}">
                          <h5>{{ entry.headline }}</h5>
                          <span>{{ entry.pub_date|date:"d M Y, H:i"  }}</span>
                        </a></li>
                          {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Блоги</h2>
                    </div>
                    <div class="content">
                      <ul>
                          {% for blog in blogs %}
                              <li><a href="{% url 'app:blog' blog.slug_name %}">- {{ blog.name }}</a></li>
                          {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Теги блога</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for tag in blog_tags %}
                        <li><a href="#">{{ tag.name }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
{% block add_script %}
<script>
let currentReplyForm = null;

function showReplyForm(commentId) {
    // Скрыть текущую открытую форму, если она есть
    if (currentReplyForm) {
        currentReplyForm.style.display = 'none';
    }

    // Найти и показать новую форму
    let form = document.getElementById('reply-form-' + commentId);
    if (form) {
        form.style.display = 'block';
        currentReplyForm = form;  // Обновляем текущую открытую форму
    }
}
</script>
{% endblock %}