html, body {
    height: 100%;
    margin: 0;
}

/* Основные стили авторского дашборда */
.author-dashboard {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex; /* Изменено для трехколоночного дизайна */
  /*max-width: 1200px; !* Изменено для большей ширины *!*/
  margin: 0 auto;
  padding: 20px;
  color: #dcdcdc; /* Светлый цвет текста */
  background: #171717; /* Темный фон */
  gap: 20px; /* Добавлено пространство между колонками */
}

.navigation-panel {
  width: 10%; /* Ширина левой колонки */
  /*flex: 1;*/
}

.main-content {
  flex: 2; /* Центральная колонка будет расти, занимая доступное пространство */
}

.sidebar {
  width: 25%; /* Ширина правой колонки */
  flex: 1;
}

/* Стили для заголовка дашборда */
.dashboard-header {
  flex-basis: 100%; /* Заголовок будет на всю ширину */
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.dashboard-header h2 {
  color: #e6e6e6; /* Цвет текста для заголовка */
  text-transform: uppercase;
  font-weight: 900;
}

.dashboard-section {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #3c3c3c; /* Темная граница для секций */
}

.dashboard-section h3 {
  font-size: 18px;
  color: #f48840;
  text-transform: uppercase;
  font-weight: 900;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Стили для списка статей */
.articles-list ul,
.comments-list ul,
.nav-list ul {
  list-style: none;
  padding: 0;
}

.articles-list li,
.comments-list li,
.nav-list ul li{
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e6; /* Цвет текста для ссылок */
}

.articles-list li a,
.comments-list li a,
.nav-list ul li a {
  color: #e6e6e6;
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;

}

.articles-list li a:hover,
.comments-list li a:hover,
.nav-list ul li a:hover {
  color: #f48840;
}

.articles-list li:last-child,
.comments-list li:last-child,
.nav-list ul li:last-child{
  border-bottom: none;
}

.published-entries-table {
    width: 100%;
    border-collapse: collapse;
}

.published-entries-table th,
.published-entries-table td {
    padding: 8px; /* Добавляем отступы внутри ячеек */
    text-align: left; /* Выравниваем текст по левому краю */
}

.published-entries-table td:nth-child(2) {
    width: 100%; /* Вторая колонка занимает всё доступное пространство */
}


.published-entries-table th:last-child,
.published-entries-table td:last-child {
    text-align: right; /* Выравниваем содержимое последних двух колонок по правому краю */
}
.published-entries-table th a,
.published-entries-table td a{
  color: #e6e6e6;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;

}

.published-entries-table th a:hover,
.published-entries-table td a:hover{
  color: #f48840;
}



/* Стили для списка комментариев */
.comments-list li {
  color: #20232e;
  font-size: 14px;
}

/* Стили для секции создания поста */
.create-post form {
  display: flex;
  flex-direction: column;
}

.create-post input[type="text"],
.create-post textarea {
  font-size: 14px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #3c3c3c;
  color: #3c3c3c;
}

.create-post input[type="text"].text_search
{
  padding: 5px;
  margin-bottom: 0px;
}

.create-post button {
  background-color: #ff6c0c;
  color: #e6e6e6;
  padding: 10px 20px;
  border: 2px solid #e6e6e6;
  border-radius: 10px;
  cursor: pointer;
  /*text-transform: uppercase;*/
}


.create-post button.scheduled {
  background-color: #004247;
}

.create-post button.scheduled:hover {
  background-color: #378486;
}

.create-post button.draft {
  background-color: #006411;
}

.create-post button.draft:hover {
  background-color: #45704b;
}


.create-post button:hover {
  background-color: #f48840;
}

.create-post button i {
  margin-right: 8px;
}

.button-group{
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-group button{
  margin: 0 20px;
  padding: 10px;
  width: 30%;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  justify-content: center;
  align-items: center;
}

.modal-content-delete {
  background-color: #fff; /* Цвет фона модального окна */
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column; /* Расположение элементов в столбец */
  align-items: center; /* Выравнивание элементов по центру */

}

.modal-content-delete div {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Стили для кнопок в модальном окне */
.modal-content-delete button {
  margin: 0 20px;
  padding: 10px;
  background-color: #ff6c0c;
  border-radius: 10px;
  width: 30%;
}

.modal-content-delete button:hover {
  background-color: #f48840;
  cursor: pointer;
}

/* Добавление адаптивности для маленьких экранов */
@media (max-width: 768px) {
  .author-dashboard,
  .modal-content-delete div {
    flex-direction: column;
  }
  .modal-content-delete button {
    width: 60%;
    margin: 10px 20px
  }

  .navigation-panel,
  .main-content,
  .sidebar {
    width: 100%; /* Колонки будут занимать всю ширину на маленьких экранах */
    flex: none; /* Сбрасываем flex-grow на маленьких экранах */
  }
}